#!/usr/bin/env ruby

################################################################################
# Compile rules.

compile '/assets/**/*' do
end

compile '/**/*.css' do
end

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*' do
end

################################################################################
# Routing rules.

route '/stylesheet.css' do
  '/style.css'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

route '/**/*' do
  item.identifier.to_s
end

################################################################################
# Layout rules.

layout '/**/*', :haml
