#!/usr/bin/env ruby

################################################################################
# Compile rules.

compile '/CNAME' do
end

compile '/assets/**/*' do
end

compile '/**/*.css' do
end

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*' do
  if item.binary?
    # Do not filter or process binary items.
  else
    filter :pandoc, args: ['mathjax']
    layout '/default.*'
  end
end

################################################################################
# Routing rules.

route '/stylesheet.css' do
  '/style.css'
end

route '/assets/third_party/**/*' do
  # Strip out '/third_party', version numbers, and '.min' from filenames.
  *folders, basename = item.identifier.to_s.split('/')
  filename, *__ignore, extension = basename.split('.')
  filename, *__ignore = filename.split('-')  # Kill version number stubs.
  folders -= ['third_party']
  (folders + ['%{base}.%{ext}' % {base: filename, ext: extension}]).join('/')
end

route '/**/*.{html,md,pandoc}' do
  item.identifier.without_ext + '.html'
end

route '/**/*' do
  item.identifier.to_s
end

################################################################################
# Layout rules.

layout '/**/*', :haml
